<h1><%= params[:category]%></h1>

  <%if @foods.count==0%>
      <h1>Sorry but there has been no item added to this page.</h1>
  <% else %>
    <% @foods.each do |food| %>
        <a href="/foods/<%= food.id  %>">
          <%= image_tag food.food_image.url(:food_index)%>
        </a>
    <% end %>
<% end %>
