<h1><%= params[:category]%></h1>

  <%if @foods.count==0%>
      <h1>Sorry but there has been no item added to this page.</h1>
  <% else %>
    <% @foods.each do |food| %>
      <div class = "col-md-4">
        <a href="/foods/<%= food.id  %>">
          <%= image_tag food.food_image.url(:food_index), class: "food"%>
        </a>
        <h2><%= food.description %></h2>
      </div>
    <% end %>
<% end %>
