/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Acme');
@import "bootstrap-sprockets"; //required imports for bootstrap
@import "bootstrap";

    @mixin background-tile {
    	box-sizing: border-box;
    	background-color: #fff;
    	border-radius: 5px;
    	box-shadow: 3px 3px 5px 6px #ccc;
    	padding: 1.0em 1.2em;
    }

    @mixin background-tiles {
    	box-sizing: border-box;
    	background-color: #C0C0C0;
    	border-radius: 5px;
    	box-shadow: 3px 3px 5px 6px #ccc;
    	padding: 1.0em 1.2em;
    }

    body {
    	background-color: #f5f5f5;
    	font-family: 'Acme';
    }

    h1, h2, h4, h5 {
    	font-family: 'Times New Roman', sans-serif;
    	font-weight: 200;
    }

    p.alert, p.notice {
    	margin: 0;
    }

    .navbar {
    	font-family: 'Acme', sans-serif;
      font-size: 15px;
    }
    .navbar-default {
    	background-color: #fff;
    	padding-bottom: 5px;
    	padding-top: 5px;

    	.navbar-nav > li > a {
    		color: #222;
    		&:hover {
    			color: darken(#2CC83B, 5%);
    			transition: 0.5s;
    		}
    	}

    	.navbar-header {

    		.navbar-brand {
    			color: #222;
    			letter-spacing: 1.4px;
    		}

    	}

    	.dropdown-menu > li > a:hover {
    		background-color: darken(#2CC83B, 5%);
    		color: #fff;
    	}

    	.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
    		background-color: darken(#2CC83B, 5%);
    		color: #fff;
    	}

    }

    .dropdown-menu > .active > a {
    	background-color: #2CC83B;
    	color: #fff;
    }

    .food {
      height: 250px; //size of imaes on the index page
      width: 350px;
      margin-bottom: 40px;
      @include background-tiles;
    }

    .food.show{
      height: 400px; //size of images on the show page
      width: 300px;
      @include background-tile;
    }

    .food-info {
    	@include background-tile;

    	.food-title {
    		margin-top: 0;
    		font-size: 2em;
    	}

    	.avg-rating {
    		font-size: 1.5em;
    		margin-top: 15px;
    		margin-bottom: 5px;
    	}

    	.number-of-reviews {
    		font-size: 0.85em;
    		font-style: italic;
        font-weight: bold
    	}

    	.food-desc {
    		font-size: 1.05em;
    		line-height: 1.5;
    		margin-bottom: 15px;
    		margin-top: 15px;
    	}

    }

    .current-category {
    	margin-bottom: 40px;
    }

    .reviews {

    	@include background-tile;
    	margin-top: 40px;

    	h1 {
    		margin-top: 0;
    		margin-bottom: 15px;
    		font-size: 2em;
    	}

    	.review {
    		border-bottom: 1px;
    		margin-bottom: 15px;
    		padding-bottom: 10px;

    		.review-comment {
    			font-size: 1.05em;
    			line-height: 1.5;
    		}

    	}

    	.new-review {
    		padding-top: 10px;
    	}

    }

    .new-food-form {
    	@include background-tile;

    	h1 {
    		margin-top: 0;
    	}

    	#category_id {
    		margin-bottom: 15px;
    	}

    	#food_food_img {
    		margin-bottom: 15px;
    	}

    }

    .edit-food-form {

    	@include background-tile;

    	h1 {
    		margin-top: 0;
    	}

    	#food_category_id {
    		margin-bottom: 15px;
    	}

    	#food_food_img {
    		margin-bottom: 15px;
    	}

    }
