<p><%= review.rating %></p>
<p><%= review.comment %></p

<%= link_to "| Edit", food_review_path(review.food, review ) %>
<%= link_to " | Delete |", food_review_path(review.food, review), method: :delete, data: { confirm: "Are you sure you want to delete your review?"} %>
